@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
.btn{
    border: 0.78px solid;

border-image-source: linear-gradient(267.03deg, #00F0FF 4.01%, #5200FF 57.55%, #FF2DF7 114.97%);


}
body{
    background: rgba(0, 0, 0, 1);

}
/* SliderComponent joylashuvi */
.slider-container {
    padding: 2rem 0; /* Yuqori va pastdan bo'sh joy */
    margin: 0 auto; /* Gorizontal markazlash */
  }
  